






h1{
    color: #0094b6;
}
h1 span {
    color: rgb(153,152,152);
}
.select h2{
    background-color:#06304b ;
    color: #fff;
    text-align: center;
}
.left-box{
    padding: 25px;
    background: linear-gradient(to bottom, #85c9f3, #fff);
    flex-basis: 50%;
    flex-grow: 1;
    color: rgb(0, 0, 0);
}
.right-box{
    padding: 25px;
    flex-basis: 50%;
    flex-grow: 1;
}
.select{
    height: 150px;
    border:1px solid #06304b;
    margin: auto;
    width: 98%;
   
}
.select-1 h2{
    background-color:#0094b6 ;
    color: #fff;
    text-align: center;
}
.select-1{
    height: 290px;
    border:1px solid #06304b;
    margin: auto;
    width: 98%;
}
#resultDiv{
    height: 300px;
    margin: none;
    padding: none;
}
.inp{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border: rgb(142, 155, 168) solid 1px;
    
}
.label-1{
    padding: 10px;
}
.select ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
    list-style-type: none;

}
.select button{
    border: 1 solid #06304b;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px;
    margin: 3px;

}
.btnn{
    border: 1px solid #0094b6;
    background-color: #fff;
    color: black;
    padding: 4px;
    border-radius: 6px;
}
.left-box button:hover{
    font-weight: 500;
    background: #000;
    color: rgb(255, 255, 255);
}
.left-box button span{
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: width 0.5s;
}
.left-box button:hover span{
    width: 30px;
}
.right-box button:hover{
    font-weight: 500;
    background: #000;
    color: rgb(255, 255, 255);
}
.right-box button span{
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: width 0.5s;
}
.right-box button:hover span{
    width: 30px;
}
textarea{
  width: clamp(90%,500px,75%);
  text-align: center;
  font-size: 18px;
  color: #0094b6;
  position: relative;
  left: 3%;
}
#mo1{
    position: relative;
    left: 15%;
}
@media (max-width:769px) {

    #mo1{
        left: 1%;
    }
    
}
